#   .gitignore

# ascii art here

# --- Project Specific ---
# Containerlab
clab-*/
*.clab.yml.bak
# Ansible
*.retry
ansible/inventory.ini
# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
# Editors
.vscode/
.idea/